body {
    font-style: italic;
    text-align: center;
}

p {
    color: rgb(54, 73, 67);
    font-family: Brush Script MT;
    font-size: 70px;
}

input {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

#S-canvas {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 300px;
    left: 450px;
}

#L-canvas {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 300px;
    right: 450px;
}

#buttons {
    margin-top: 20px;
}

#buttons button {
    background-color: rgb(255, 255, 128);
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
}

#start_button:hover,
#restart_button:hover {
    background-color: rgb(8, 106, 172);
    transition-duration: 0.8s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3,
h4 {
    color: rgb(0, 111, 214);
}

.keyS_container,
.keyL_container {
    margin: 10px 0px;
    padding: 90px 50px;
    border-top: 2px solid black;
}

.keyS_container h2,
.keyS_container h4,
.keyL_container h2,
.keyL_container h4 {
    margin: 5px;
}

.keyS_container {
    border-right: 1px solid black;
}

.keyL_container {
    border-left: 1px solid black;
}