#map {
    height: 350px;
    width: 500px;
}

button {
    padding: 10px;
}

button:hover {
    background-color: rgb(109, 128, 0);
}

html,
body {
    height: 100%;
    margin: 10px 20px;
    padding: 0;
}