* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 95%;
    margin: 10px;
    border: 2px solid grey;
    font-family: Georgia, sans-serif;
}

header {
    margin: 40px 30px 20px 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.nav {
    flex-basis: 150px;
    padding: 40px;
    background-color: silver;
    border: 2px solid grey;
    flex-basis: 400px;
}

.sign-up-info {
    width: 75%;
    padding: 20px;
}

h1 {
    font-weight: 600;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-size: 40px;
}

p {
    padding: 15px 0px;
    font-size: 18px;
    line-height: 1.5;
}

h2 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}

.progress {
    font-size: 18px;
    padding: 10px;
}

progress {
    /* to remove default styling */
    -webkit-appearance: none;
    display: block;
    margin-top: 10px;
    width: 90%;
    height: 50px;
    border: 1px solid grey;
}


/*styles : the progress bar inside*/

progress::-webkit-progress-bar {
    background-color: whitesmoke;
}

progress::-webkit-progress-value {
    background-color: grey;
}


/* form styling starts here*/

fieldset {
    border: none;
}

.field,
.shipping-address {
    margin-left: 40px;
}

label {
    display: inline-block;
    width: 140px;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 600;
}

input[type="text"],
select {
    width: 300px;
    margin: 10px 0px;
    padding: 15px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 2px;
    font-size: 20px;
}

input:focus,
select:focus {
    background-color: gainsboro;
}

.description {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.description p {
    font-size: 12px;
    font-style: italic;
}

textarea {
    width: 65%;
    border: 2px solid grey;
    margin-left: 30px;
    padding: 10px;
    font-size: 16px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}


/* form1b.html stling*/

#shipping-address:checked~.shipping-address {
    display: none;
}

.button {
    width: 90%;
    display: flex;
    justify-content: center;
}

.button button {
    color: black;
    display: block;
    background-color: grey;
    height: 50px;
    width: 100px;
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
button:hover {
    background-color: rgb(50, 133, 189);
}


/* mobile version*/

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 10px;
    }
    header {
        width: 90%;
        margin: 10px auto;
        border: 2px solid grey;
    }
    header .logo,
    .nav {
        border: none;
    }
    .sign-up-info {
        width: 100%;
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .field,
    .shipping-address {
        margin-left: 10px;
    }
    input[type="text"],
    select {
        width: 300px;
        display: block;
    }
    .description {
        flex-direction: column;
    }
    .description p {
        float: right;
        position: relative;
        bottom: 10px;
        right: 40px;
        font-size: 10px;
    }
    textarea {
        margin-left: 5px;
        width: 90%;
        margin-bottom: 5px;
    }
}