.App {
  text-align: center;
  align-items: center;
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


button{
  box-shadow: inset;
  background-color: rgb(243, 88, 22);
}
form {
  border: 2px solid ;
  padding: 10px;
  width: 500px;  
  align-items: center;
  margin-left: 450px;
 

}
div{
  padding: 5px;
}
input{
  background-color: #e8eeef;
  padding: 5px;
}
.todo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  border: 2px solid ;
  width: 400px;
  height: 20px;
  background-color: #82fb61;
}
.items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

